@use "../../styles/common" as common;

$columnBackgroundColor: common.$gray-200;
$columnShadow: common.$gray-400 1.95px 1.95px 2.6px;

.boardColumn {
  flex: 1;
  padding: 5px;
  max-width: 50%;
  min-width: 50px;
  height: 100%;
  min-height: calc(100vh - #{common.$navbarHeight} - #{common.$agileBoardPadding * 2});
  border-radius: 3px;
  background-color: $columnBackgroundColor;
  box-shadow: $columnShadow;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__header {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  &__title {
    display: flex;
    justify-content: start;
    font-weight: 500;
  }
}