@use "../../styles/common";

$userCardAvatarSize: 20px;

.userCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__avatar {
    width: $userCardAvatarSize;
    height: $userCardAvatarSize;
    border-radius: 20%;
    margin-right: 5px;
  }

  &__name {
    color: common.$secondary;
  }
}